body{
    font-family: 'Castoro Titling', cursive;
}
h1{
    font-size: 50px;
}
.red{
    color: red;
}
.flexible{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
    
    
}
.half-width img{
    width: 40%;
    
}
.button{
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    font: weight 700px; ;
    padding: 10px 10px;
    border-radius: 3px 3px;
    color: black;


}
.upper{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat ;

}
.mid{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    

}
.con{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    
}
.expo{
   
    
    width: 30%;
    margin-left: 10%;
    margin-right: 5%;
    box-shadow: 10px 10px 60px gray;
    padding-left: 40px;
    border-radius: 10px;
    height: 80%;

    
}
#first{
    border-left: 7px solid red;
}
#second{
    border-right: 7px solid blue;
}
footer p{
    text-align: center;
}